@model AdminIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h1 style="color: white" align="center">Administration</h1>
<div class="row">
    <div class="col-md-4">
        <div>
            <input type="text" id="search" class="form-control" placeholder="Search..." onkeyup="search()" />
        </div>
    </div>

    <div class="col-md-4 pull-left">
        <input type="button" class="btn btn-primary form-control" value="Registered Sensors" onclick="location.href='@Url.Action("Index", "Sensor")'" />
    </div>
    <div class="col-md-4 pull-right">
        <input type="button" class="btn btn-primary form-control" value="Users" onclick="location.href='@Url.Action("Index", "User")'" />
    </div>
</div>
<br />
<table class="table" id="myTable">
    <thead style="color: white">
        <tr>
            <th>Tag</th>
            <th>Description</th>
            <th>Value</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody style="color: white">
        @foreach (Sensor sensor in Model.sensors)
        {
            <tr class="search">
                <td>@sensor.Name</td>
                <td>@sensor.Description</td>
                <td>@sensor.CurrentValue</td>
                <td>@sensor.LastUpdate</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function search() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}
