@model UserViewModel

<td>@Model.Username</td>
<td>@Model.Email</td>
<td>@Model.FirstName</td>
<td>@Model.LastName</td>
<td>@Model.PhoneNumber</td>

<td>
    <div >
            <a href="/Administration/Users/Details/@Model.Id" class="btn btn-primary  form-control">Edit</a>
    </div>
</td>