@model UserDetailsViewModel
@{
    ViewData["Title"] = "User Details";
}
<h2>Users Administration</h2>
<form asp-area="Administration" asp-action="Details" asp-controller="User" method="post">
    <input type="hidden" value="@Model.Id">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" class="form-control" value="@Model.Email" maxlength="40" minlength="6" required>
                            </div>
                        </div>
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" type="text" class="form-control" value="@Model.Username" maxlength="40" minlength="6" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName" maxlength="25" minlength="3">
                            </div>
                        </div>
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName" maxlength="25" minlength="3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @await Html.PartialAsync("_UserRolePartial", Model.UserRole)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
</form>
