@model TableViewModel<UserSensorsViewModel>

@{

}
<br />
<br />
<br />


<div id="statusMessage"></div>
<div id="tablePartial">
    <div>
        <form asp-area="Users" asp-controller="Sensor" asp-action="Filter"
              asp-route-pageNumber="1" asp-route-sortOrder="@Model.Pagination.SortOrder" asp-route-searchTerm="@Model.Pagination.SearchTerm"
              method="get" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tablePartial">
            <label style="color: white">Page size:</label>
            <input name="pageSize" class="form-control" value="@Model.Pagination.PageSize" type="number" min="1" max="50" style="width:5em;" />
        </form>
    </div>
    <div>
        <table class="table">
            <thead style="color: white">
                <tr>
                    <th>
                        Sensor Name
                    </th>
                    <th>
                        MinValue
                    </th>
                    <th>
                        MaxValue
                    </th>
                    <th>
                        Update Interval
                    </th>
                    <th>
                        Public
                    </th>
                    <th>
                        Send Notifications
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        View on Map
                    </th>
                </tr>
            </thead>
            <tbody style="color: white">
                @foreach (var sensor in Model.Items)
                {
                    <tr>
                        <td>@sensor.Name</td>
                        <td>@sensor.MinValue</td>
                        <td>@sensor.MaxValue</td>
                        <td>@sensor.UpdateInterval</td>

                        <td>
                            <input type="checkbox" checked="@sensor.IsPublic" onclick="return false;" />
                        </td>
                        <td>
                            <input type="checkbox" checked="@sensor.IsRequiredNotification" onclick="return false;" />
                        </td>
                        <td>
                            <div>
                                <a asp-action="Edit" asp-controller="Sensor" asp-route-id="@sensor.Id" method="post" data-target="#modal-container" data-toggle="modal">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a asp-action="ShowMap" asp-controller="Sensor" asp-route-id="@sensor.Id" data-target="#modal-map" data-toggle="modal">View</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @await Html.PartialAsync("_PaginationPartial", Model.Pagination)
    </div>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="modal-map" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#modal-container').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.attr("href");
                var modal = $(this);

                modal.find('.modal-content').load(url);
            });
        });
    </script>
}


