@model CreateDashboardViewModel

@{
    ViewData["Title"] = "CreateDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateDashboard</h2>

<div class="row">
    <div class="col-md-6">
        <input type="text" id="search" class="form-control" placeholder="Search..." onkeyup="myFunction()" />
    </div>
</div>

<br />

<form asp-controller="Sensor" asp-action="CreateDashboard" id="register-form" method="post">
    <table class="table table-bordered table-hover" id="myTable">

        <thead>
            <tr>
                <th class="col-xs-1 text-center">Select:</th>
                <th class="text-center">Name:</th>
                <th class="col-lg-5 text-center">Description:</th>
                <th class="text-center">Graphical Representation:</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SensorSelection.Count(); i++)
            {
                <tr class="search">
                    <td>
                        <input type="checkbox" asp-for="@Model.SensorSelection[i].IsSelected" />
                        <input type="hidden" asp-for="@Model.SensorSelection[i].Id" />
                            <input type="hidden" asp-for="@Model.SensorSelection[i].Name" />
                    </td>
                    <td>@Model.SensorSelection[i].Name</td>
                    <td>@Model.SensorSelection[i].Description</td>
                    <td>
                        <div>
                            <select asp-for="@Model.SensorSelection[i].GraphicalRepresentationId" class="form-control">
                                <option value="1">Gauge</option>
                                <option value="2">Bar</option>
                                <option value="3">State indicator</option>
                            </select>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary center-block">Register</button>
</form>

@section Scripts {
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}


