@model CreateDashboardViewModel

@{
    ViewData["Title"] = "CreateDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateDashboard</h2>

<div class="row">
        <div class="col-md-6">
            <input type="text" id="search" class="form-control" placeholder="Search..." />
        </div>
</div>

<br />

<form asp-controller="Sensor" asp-action="CreateDashboard" id="register-form" method="post">
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th class="col-xs-1">Select:</th>
                <th>Name:</th>
                <th>Graphical Representation:</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SensorSelection.Count(); i++)
            {
                <tr class="search">
                    <td>
                        <input type="checkbox" asp-for="@Model.SensorSelection[i].IsSelected" />
                        <input type="hidden" asp-for="@Model.SensorSelection[i].Id" />
                        <input type="hidden" asp-for="@Model.SensorSelection[i].Name" />
                    </td>
                        <td>@Model.SensorSelection[i].Name</td>
                    <td>
                        <select asp-for="@Model.SensorSelection[i].GraphicalRepresentationId" class="form-control">
                            <option value="1">Gauge</option>
                            <option value="2">Bar</option>
                            <option value="3">State indicator</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary center-block">Register</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }

            $('#search').keyup(function () {
                var searchText = $('#search').val().toLowerCase();

                $('.search').each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}


