@model SensorTableViewModel

<td>@Model.User.UserName</td>
<td>@Model.Name</td>
<td class="col-md-2">@Model.UpdateInterval</td>
<td class="col-md-1"><input type="checkbox" checked="@Model.IsPublic" onclick="return false;" /></td>
<td class="col-md-1"><input type="checkbox" checked="@Model.IsRequiredNotification" onclick="return false;" /></td>


<td class="col-lg-2">
    <div class="dark-theme">
        <a class="page-link" asp-area="Administration" asp-controller="Sensor" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</td>