@model SensorDetailsViewModel
@{
    ViewData["Title"] = "Sensor Details";
}
<h2>Users Administration</h2>
<form asp-area="Administration" asp-action="Details" asp-controller="Sensor" method="post">
    <input type="hidden" value="@Model.Id">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" value="@Model.Name" maxlength="25" minlength="3">
                            </div>
                        </div>
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="UpdateInterval">Update Interval</label>
                                <input asp-for="UpdateInterval" type="number" class="form-control" value="@Model.UpdateInterval">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="MinValue">MinValue</label>
                                <input asp-for="MinValue" type="number" class="form-control" value="@Model.MinValue">
                            </div>
                        </div>
                        <div class="col-md-5 pr-md-1">
                            <div class="form-group">
                                <label asp-for="MaxValue">MaxValue</label>
                                <input asp-for="MaxValue" type="number" class="form-control" value="@Model.MaxValue">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 pr-md-1">

                            <label asp-for="IsPublic">Is Public</label>
                            @Html.CheckBoxFor(m => m.IsPublic)
                            <span asp-validation-for="IsPublic" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 pr-md-1">
                            <label asp-for="IsRequiredNotification">Notify Me</label>
                            @Html.CheckBoxFor(m => m.IsRequiredNotification)
                            <span asp-validation-for="IsRequiredNotification" class="text-danger"></span>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pl-md-1">
                            <div class="form-group">
                                <label asp-for="Latitude">Latitude:</label>
                                <input asp-for="Latitude" type="text" class="form-control" id="latitudeId" placeholder="Latitude" readonly value="@Model.Latitude">
                                <span asp-validation-for="Latitude" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label asp-for="Longitude">Longitude:</label>
                                <input asp-for="Longitude" type="text" class="form-control" id="longitudeId" placeholder="Longitude" readonly value="@Model.Longitude">
                                <span asp-validation-for="Longitude" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Select new location</label>
                            <div>
                                <div id="map2"></div>
                                <script>
                                    var map, marker;

                                    function initMap() {
                                        map = new google.maps.Map(document.getElementById('map2'), {
                                            center: { lat: @Model.Latitude, lng: @Model.Longitude },
                                            zoom: 8,
                                        });
                                         var marker = new google.maps.Marker({
               position: { lng: @Model.Longitude, lat: @Model.Latitude  },
                map: map
})
                                        marker.setAnimation(google.maps.Animation.BOUNCE);
                                        
                                        google.maps.event.addListener(map, 'click', function (event) {
                                            if (marker) {
                                                marker.setPosition(event.latLng)

                                                $('#latitudeId').val(marker.position.lat)
                                                $('#longitudeId').val(marker.position.lng)
                                            }
                                            else {
                                                marker = new google.maps.Marker({
                                                    position: event.latLng,
                                                    map: map,
                                                });
                                               

                                                $('#latitudeId').val(marker.position.lat)
                                                $('#longitudeId').val(marker.position.lng)
                                            }
                                        });
                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDteKY2bbicMlrP2DHSJmSciuIP-E_D6k&callback=initMap"
                                        async defer></script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
</form>

<style>
    #map2 {
        height: 500px;
        width: 598px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>